# Dependencies
node_modules

# Build outputs
.next
out
dist
build

# Generated
*.generated.*
prisma/migrations

# Lockfiles
package-lock.json
pnpm-lock.yaml
yarn.lock

# Misc
.git
.DS_Store
coverage

